body {
    background-color: cornflowerblue;
}

.container {
    height: 50%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 15em 2fr 15em;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    grid-template-areas: 
    "hero main enemy"
    "hero main enemy"
    "hero main enemy"
    "hero actions enemy";
  }

.hero-class {
  grid-area: hero;
  background-color: antiquewhite;
  padding: 10px;
}

.fight-class {
  grid-area: main;
  background-color: cadetblue;
  justify-self: stretch;
  padding: 10px;
}

.enemy-class {
  grid-area: enemy;
  background-color: lightcoral;
}

.actions-class {
  grid-area: actions;
  justify-self: center;
}